.footer {
  background-color: #000;
  color: #fff;
  padding: 4.5rem 0;
}
.footer__container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer__container--1 {
  display: flex;
}

.footer__container--2 {
  display: flex;
  justify-content: space-between;
}

.footer__box {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__company {
  width: 50%;
}

.footer__dash {
  height: 0.1rem;
  width: 100%;
  background-color: #eee;
}

.footer__link {
  list-style: none;
}
.footer__link li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__services,
.footer__social {
  list-style: none;
  display: flex;
  gap: 1rem;
}
